<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base index{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/rmodal-no-bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    {% block css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/html5hiv.min.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>