<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <input type="button" value="更新" />
    <a href="javascript:;">test</a>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script>
        function getDatas(urls){
            let results;
            $.ajax({
                url : urls,
                type : "GET",
                async : false,
                success : function (data) {
                     results = data;
                },
                error : function (err) {
                    console.log(err);
                    alert("数据获取失败!code(0)");
                    return null;
                }
            });
            return results;
        }
        $("input").click(function () {
            res = getDatas({% url 'update:update' %});
            if(res === -1){
                alert("您还没有安装git!")
            }else if(res === 0){
                alert("更新失败!")
            }else {
                alert("更新成功,请重启服务器!")
            }
        })
    </script>
</body>
</html>