{% extends 'turnoverZNQ/base.html' %}
{% block title %}流水账明细{% endblock %}
{% block thead %}
    <tr>
        <th>厂家</th>
        <th>型号</th>
        <th>名称</th>
        <th>批次号</th>
        <th>操作</th>
        <th>数量</th>
        <th>日期</th>
    </tr>
{% endblock %}

{% block search_hide %}
    <input type="hidden" name="urlname" value="detail">
    <input type="hidden" name="product_id" value="{{ product_id }}">
{% endblock %}
{% block search_place %}年-月-日{% endblock %}

{% block tbody %}
    {% for detail in page_lst %}
        <tr>
            <td>{{ detail.product.factory_name|default:'空' }}</td>
            <td>{{ detail.product.product_type }}</td>
            <td>{{ detail.product.product_name }}</td>
            <td>{{ detail.bill_id|default:'空' }}</td>
            <td>{{ detail.operate }}</td>
            <td>{{ detail.operate_num }}</td>
            <td>{{ detail.time|date:'Y-n-j' }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="7"><div class="reminder"><p>没有检索到数据</p></div></td></tr>
    {% endfor %}
{% endblock %}

{% url 'turnoverZNQ:detail' product_id prev_page as prev_url %}
{% url 'turnoverZNQ:detail' product_id next_page as next_url %}
{% if query %}
    {% url 'turnoverZNQ:detail_sear' product_id prev_page query as prev_url %}
    {% url 'turnoverZNQ:detail_sear' product_id next_page query as next_url %}
{% endif %}
{% block prev_href %}{{ prev_url }}{% endblock %}
{% block page_href %}
    {% if query %}
        {% url 'turnoverZNQ:detail_sear' product_id page query %}
    {% else %}
        {% url 'turnoverZNQ:detail' product_id page %}
    {% endif %}
{% endblock %}
{% block next_href %}{{ next_url }}{% endblock %}